<!-- Footer -->
<footer class="footer" id="footer" style="background-color: white">
  <div class="postcontainer">
    <p>
      {{ site.data.sitetext[site.locale].header.copyrightlicence | default:"©" }}
      <a href="{{ site.data.sitetext[site.locale].header.copyrightlink }}">{{ site.data.sitetext[site.locale].header.copyright }} {{ 'now' | date: "%Y" }}</a> - 
      <a href="/legal">{{ site.data.sitetext[site.locale].footer.legal | default:"Privacy Policy" }}</a>
    </p>
  </div>
</footer>
<!-- End Footer -->
