<head>
  {% if site.analytics.google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.analytics.google }}");
  </script>
  <!-- End Google Analytics -->
  {% endif %}

    {%- if page.title -%}
      {%- assign title = page.title | append: " | " | append: site.title -%}
    {%- else -%}
      {%- assign title = site.title -%}
    {%- endif -%}

  {%- assign canonical = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url -%}
  {% assign cover = page.background | default: site.data.sitetext[site.locale].header.background %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ canonical }}">

  <!-- Open Graph (pour Facebook et autres plateformes) -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ cover }}" />
  <meta property="og:url" content="{{ canonical }}" />
  <meta property="og:type" content="website" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:image" content="{{ cover }}" />

  {%- if page.url == "/" -%}
  <!-- Données Structurées Schema.org -->
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "{{ site.title }}",
        "startDate": "2024-05-08T08:00",
        "endDate": "2024-05-15T20:00",
        "location": {
            "@type": "Place",
            "name": "Poussan",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "21 boulevard Riverain",
                "addressLocality": "Poussan",
                "postalCode": "34560",
                "addressCountry": "France"
            }
        },
        "url": "{{ canonical }}",
        "description": "{{ site.description }}",
        "image": [
            "{{ cover }}"
        ],
        "mainEntityOfPage": {
            "@type": "WebSite",
            "name": "{{ title }}",
            "url": "{{ canonical }}"
        },
        "organizer": {
            "@type": "Organization",
            "name": "NThierry Crouzet",
            "url": "https://tcrouzet.com"
        },
        "offers": {
            "@type": "Offer",
            "url": "{{ canonical }}",
            "price": "35",
            "priceCurrency": "€",
            "availability": "http://schema.org/InStock"
        }
    }
  </script>
  {%- endif -%}

  <!-- Bootstrap core CSS -->
  <link href="{{ site.url }}{{ site.baseurl }}/assets/css/bootstrap.min.css?v={{ site.time | date: '%s' }}" rel="stylesheet" />

  <!-- Custom fonts for this template -->
  <link href="{{ site.url }}{{ site.baseurl }}/assets/css/all.min.css?v={{ site.time | date: '%s' }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this theme -->
  <!--<link href="assets/css/agency.min.css" rel="stylesheet">-->
  <link href="{{ site.url }}{{ site.baseurl }}/assets/css/agency.css?v={{ site.time | date: '%s' }}" rel="stylesheet" />

  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" %}
  <style>
    #pagecontainer {
      padding-top: 150px;
    }
    @media only screen and (max-width: 991px) {
      #pagecontainer {
        padding-top: 100px;
      }
    }
  </style>
  {% endif %}
</head>