<!-- Navigation -->
{%- if page.layout=="page" -%}
<nav class="navbar navbar-expand-lg fixed-top backmenucolor" id="mainNav">
{%- else -%}
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
{%- endif -%}

    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">
          {%- if site.logo -%}
            <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}"/>
          {%- else -%}
            {{ site.title }}
          {%- endif -%}
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
        {% if site.locale and site.locale != "" and site.locale != nil %}
        {% for link in site.data.navigation[site.locale].nav %}
          <li class="nav-item">
            {%- if link.subnav -%}
              {%- if link.url -%}
                <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
              {%- else -%}
                <a class="nav-link js-scroll-trigger" href="/#{{ link.section }}">{{ link.title }}</a>
              {%- endif -%}
              <ul class="nav-sub-menu">
                {% for sublink in link.subnav %}
                  <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
              </ul>
            {%- elsif link.url -%}
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            {%- else -%}
              <a class="nav-link js-scroll-trigger" href="/#{{ link.section }}">{{ link.title }}</a>
            {%- endif -%}
          </li>
        {% endfor %}
        {% else %}
        {% for link in site.data.navigation.nav %}
          <li class="nav-item">
            {%- if link.subnav -%}
              <a class="nav-link js-scroll-trigger" href="/#{{ link.section }}">{{ link.title }}</a>
              <ul class="sub-menu">
                {% for sublink in link.subnav %}
                  <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
              </ul>
            {%- elsif link.url -%}
              <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            {%- else -%}
              <a class="nav-link js-scroll-trigger" href="/#{{ link.section }}">{{ link.title }}</a>
            {%- endif -%}
          </li>
        {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->  