<!-- Header -->
{% assign header_image = page.background | default: site.data.sitetext[site.locale].header.background %}
<header class="masthead" style="background-image: url({{header_image}});">
  
  <div class="overlay"></div>
  <div class="container">
    <div class="intro-text">
      {%- assign title = page.header_text | default: site.data.sitetext[site.locale].header.title -%}
      {%- assign titlelink = page.titlelink | default: site.data.sitetext[site.locale].header.titlelink -%}
      {%- if title and titlelink -%}
        <h1><a href="{{ titlelink }}">{{ title }}</a></h1>
      {%- elsif title -%}
        <h1>{{ title }}</h1>
      {%- endif -%}

      {%- assign text = page.header_title | default: site.data.sitetext[site.locale].header.text -%}
      {%- if text -%}
        <h2>{{ text }}</h2>
        <div id="countdown">   </div>
      {%- endif -%}

      {%- assign date = page.header_date | default: null -%}
      {%- if date -%}
        <script>
function countdown(targetDate) {
    const target = new Date(targetDate);

    // Fonction pour mettre à jour le compte à rebours
    function updateCountdown() {
        const now = new Date();
        const difference = target - now;

        // Calcul du temps restant
        const days = Math.floor(difference / (1000 * 60 * 60 * 24));
        const hours = Math.floor((difference / (1000 * 60 * 60)) % 24);
        const minutes = Math.floor((difference / 1000 / 60) % 60);
        const seconds = Math.floor((difference / 1000) % 60).toString().padStart(2, '0');

        // Affichage du temps restant
        document.getElementById("countdown").innerHTML = days + " jours " + hours + "h" + minutes + ":" + seconds;
    }

    // Mise à jour toutes les secondes
    setInterval(updateCountdown, 1000);
}

// Lancement du compte à rebours
countdown("{{ date }}");

        </script>
      {%- endif -%}

      {%- assign button_text = site.data.sitetext[site.locale].header.button -%}
      {%- if button_text -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#top">{{ button_text }}</a>
      {%- endif -%}

      {%- if page.header_text == nil -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{  site.data.sitetext[site.locale].header.buttonlink2 }}">{{ site.data.sitetext[site.locale].header.button2 }}</a>
      {%- elsif page.header_button_text2 -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{  page.header_button_link2 }}">{{ page.header_button_text2 }}</a>
      {%- endif -%}

      <a href="https://727bikepacking.substack.com/subscribe" class="btn btn-primary btn-xl text-uppercase">S’abonner</a>

      <a href="/#te-10"><img src="/assets/img/longue_distance.png" style="width:8em;height: auto;display: block;margin:1rem auto 0 auto;"/></a>

    </div>
  </div>
</header>
<!-- End Header -->