<!-- Header -->
{% assign header_image = page.background | default: site.data.sitetext[site.locale].header.background %}
<header class="masthead" style="background-image: url({{header_image | size: 1024}});">
  
  <div class="overlay"></div>
  <div class="container">
    <div class="intro-text">
      {%- assign title = page.header_text | default: site.data.sitetext[site.locale].header.title -%}
      {%- assign titlelink = page.titlelink | default: site.data.sitetext[site.locale].header.titlelink -%}
      {%- if title and titlelink -%}
        <h1><a href="{{ titlelink }}">{{ title }}</a></h1>
      {%- elsif title -%}
        <h1>{{ title }}</h1>
      {%- endif -%}

      {%- assign text = page.header_title | default: site.data.sitetext[site.locale].header.text -%}
      {%- if text -%}
        <h2>{{ text }}</h2>
      {%- endif -%}

      {%- assign button_text = site.data.sitetext[site.locale].header.button -%}
      {%- if button_text -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#top">{{ button_text }}</a>
      {%- endif -%}

      {%- if page.header_text == nil -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{  site.data.sitetext[site.locale].header.buttonlink2 }}">{{ site.data.sitetext[site.locale].header.button2 }}</a>
      {%- elsif page.header_button_text2 -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{  page.header_button_link2 }}">{{ page.header_button_text2 }}</a>
      {%- endif -%}

      {%- assign crunchifyURL = site.url | append: page.permalink | default: site.url -%}
      {%- assign crunchify = crunchifyURL | url_encode -%}
      {%- assign $crunchifyTitle = title | url_encode -%}

      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{crunchify}}"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/intent/tweet?text={{crunchifyTitle}}&amp;url={{crunchify}}"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{crunchify}}&amp;title={{crunchifyTitle}}"><i class="fab fa-linkedin-in"></i></a>
        </li>
      </ul>

    </div>
  </div>
</header>
<!-- End Header -->