---
---
@charset "utf-8";
// Core variables and mixins
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.contrast }} !default;
$contrast: {{ site.data.style.highlight }} !default;
$white: {{ site.data.style.white }} !default;
$black: {{ site.data.style.black }} !default;
$hot: {{ site.data.style.hot }} !default;
$back:  {{ site.data.style.back }} !default;

// Restated Bootstrap Variables
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
