// Styling for the navbar
#mainNav {
  background-color: $gray-900;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $contrast;
    @include heading-font;
  }
  .navbar-brand {
    color: $contrast;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($contrast, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $contrast;
          background-color: $gray-900;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}

/* Styles de base pour les sous-menus */
#mainNav .navbar-nav .nav-item {
  position: relative;
}

#mainNav .navbar-nav .nav-item .nav-sub-menu {
  display: none;
  position: absolute;
  background-color: $gray-900;
  padding: 0;
  min-width: 100%;
  white-space: nowrap;
  z-index: 1;
}

/* Affichage du sous-menu lors du survol de l'élément parent */
#mainNav .navbar-nav .nav-item:hover .nav-sub-menu {
  display: block;
}

/* Styles pour les liens dans les sous-menus */
#mainNav .navbar-nav .nav-item .nav-sub-menu li a {
  color: white; /* Couleur du texte */
  padding: 12px 16px; /* Espacement */
  text-decoration: none; /* Pas de soulignement du texte */
  display: block; /* Fait en sorte que le lien remplisse l'espace horizontal */
  text-align: left; /* Alignement du texte */
  text-transform: lowercase;
}

/* Changement de couleur lors du survol des liens du sous-menu */
#mainNav .navbar-nav .nav-item .nav-sub-menu li a:hover {
  color: $contrast; /* Couleur du texte au survol */
  background-color: transparent; /* Garde le fond transparent */
}