// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

div.intro-text {
  padding-top: 30vh;
  /*padding-bottom: 100px;*/
  position: relative;
  z-index: 2;
}

div.intro-text h1 {
  font-size: 2.5em;
  font-style: italic;
  /*line-height: 22px;
  margin-bottom: 25px;*/
  @include serif-font;
  a, a:hover{
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
}

div.intro-text h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  @include heading-font;
}

div.container{
  max-width: 100ch;
  /*z-index: 1;*/
}

ul.social-buttons {
  margin-top: 2rem;
  li {
    a {
      font-size: 20px;
      line-height: 50px;
      display: block;
      width: 50px;
      height: 50px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      background-color: $black;
      &:active,
      &:focus,
      &:hover {
        color: $contrast;
      }
    }
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 30vh;
      /*padding-bottom: 200px;*/
      h1 {
        font-size: 2.5rem;
        /*line-height: 40px;*/
        /*margin-bottom: 25px;*/
        @include serif-font;
      }
      h2 {
        font-size: 5rem;
        font-weight: 700;
        /*line-height: 75px;
        margin-bottom: 50px;*/
        @include heading-font;
      }
    }
  }
}

/* Media Query pour les vues étroites */
@media (max-width: 1000px) {
  div.intro-text h1 a{
    font-size: 1.5rem;
  }
  header.masthead .intro-text h2{
    font-size: 2.5rem;
  }
  .btn-xl {
    font-size: 1rem;
  }
}