// Global styling for this template
:root {
  --line-height-post: calc(1ex / 0.32);
  --line-height-body: 1.3;
  --margin-top-post: calc(1ex / 0.64);
  --page-guter: 1rem;
  --width-ch: 60ch;
  --font-size-small: 1rem;
  --font-size-base: 1.25rem;
	--font-size-post: 1.13rem;

}

html {
  box-sizing: border-box;
  line-height: var(--line-height-body);
  -webkit-font-variant-ligatures:common-ligatures;
  -moz-font-variant-ligatures:common-ligatures;
  font-variant-ligatures:common-ligatures;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
 }

body {
  overflow-x: hidden;
  @include body-font;
  font-size: var(--font-size-base);
}

p {
  line-height: var(--line-height-post);
  margin-top: var(--margin-top-post);
}

a {
  color: $primary;
  &:hover { 
    color: darken($primary, 10%);
  }
}

a,h4.round a{
  text-decoration: none;
}

p a{
  font-weight: normal;
  text-decoration: underline;
}

a.hotlink {
  background-color: $contrast;
  padding: 0.5em 1em;
  margin-top: 1em;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Style pour l'état de survol du lien */
a.hotlink:hover {
  background-color: darken($contrast, 10%);
}

.text-primary {
  color: $primary !important;
}

.text-contrast {
  color: $contrast !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 1.1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem;
    text-transform: none;
    @include serif-font;
  }
}

.col-md-4{
  margin-top: 1rem;
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.post{
  width: 100%;
  margin: 2rem 0 0 0;
}

.postspacer{
  margin-top:10rem;
}

.post p{
  max-width: var(--width-ch);
  text-align: justify;
  margin-top: var(--margin-top-post);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-guter);
  padding-right: var(--page-guter);
}

.post h1{
  text-align: center;
  margin-top: 3rem;
}

.post h3{
  text-align: center;
  margin-top: var(--margin-top-post);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-guter);
  padding-right: var(--page-guter);
}

.post ul{
  max-width: var(--width-ch);
  text-align: justify;
  margin-top: var(--margin-top-post);
  margin-left: auto;
  margin-right: auto;
}

.post p img{
  width: -webkit-fill-available;
  height: auto
}

.post li a{
  text-decoration: underline;
}

#route-resume {margin:0 auto;max-width:60ch;padding:0.5em;text-align: center;}
#route-resume img {width:64px;height:64px;margin-right:0.3em;display: inline-block}
#route-resume div.iconbox {display: inline-block}
#route-resume div.icontext {display: inline-block;vertical-align: super;margin-left:1ch}
#route-resume span{font-weight: bold}
#route-resume div.spacer{width:0.5em;display: inline-block}

#disqus_thread{
  border-top: 1px solid $gray-600;
  max-width: var(--width-ch);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-guter);
  padding-right: var(--page-guter);
  padding-top: 1rem;
}

.video {
  position: relative;
  max-width: var(--width-ch); /* Ajustez cette valeur selon la largeur maximale désirée */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding-left: var(--page-guter);
  padding-right: var(--page-guter);
  height: 24rem;
}

.video iframe {
  width: 100%;
  height: -webkit-fill-available;
}


#prevnext{text-align: center;}
.prevpage{padding: 1rem}
.nextpage{padding: 1rem}

.slideshow-button {
  font-size: 4rem; /* Taille des boutons */
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour la visibilité */
  border: none;
  color: white;
  /*padding: 10px;*/
  cursor: pointer;
  /*border-radius: 50%;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);*/
}

.slide-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.7); /* Fond plus sombre pour la visibilité */
  font-size: 1em;
  z-index: 2; /* S'assure que le texte est au-dessus de l'image */
}

.my-custom-icon {
  background-color: blue;
  border-radius: 50%;
  width: 10px!important;;
  height: 10px!important;;
}

.my-custom-icon.active {
  background-color: red;
  width: 20px!important;;
  height: 20px!important;;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
  
}

@media (max-width: 1000px) {

  .slideshow-button {
    font-size: 2rem; /* Taille des boutons */
  }
  
}